extends base.pug

mixin user(userData)
  p= userData.firstName + " " + userData.lastName
  if userData.isAdmin
    p Admin
  else
    p Regular user
  hr

block content
  p Hello world!
  -const users =[{"firstName": "John", "lastName": "Smith", "isAdmin": true},{"firstName": "Vasya", "lastName": "Ivanov", "isAdmin": false}]
  each user in users
    +user(user)

  include example

block custom
  p Another

block scripts
  script(src="qwe.js")

block stylesheets
  include stylesheets